.header{
    display: flex;
    justify-content: space-between;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    font-size: 40px;
    border:2px solid black;
    background-color: blue;
    color: white;
    text-decoration: none;

}